{% extends 'base.html.twig' %}

{% block title %} Edit post {% endblock %}

{% block body %}
    {{ form(form_edit_post) }}
    <a href="{{ path('postsindex') }}" class="btn btn-primary">Back</a>
{% endblock %}